<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <%- include("layout/common.ejs") -%>
        <div class="container">
            <img src="/images/dog.jpg" alt="" width="40px" height="40px">
            <h3> HI Thanh Tung</h3>
            <a class="btn btn-primary" href="user">user</a>
        </div>

</body>

</html>